body{
	font-family: 'Quicksand';
}

a:hover{
	text-decoration: none;
	color: inherit;
}

header{
	position: sticky;
	top: 0;
	background: #fff;
	z-index: 3;
}

img{
	max-width: 100%;
	height: auto;
}

.navbar-toggler span {
  display: block;
  width: 30px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
  border-radius: 3px;
  height: 3px;
  background: #fff;
  transition: all .3s;
  position: relative;
}

.navbar-toggler span + span {
  margin-top: 5px;
}

.navbar-toggler .active span:nth-child(1) {
  animation: ease .7s top forwards;
}

.navbar-toggler .not-active span:nth-child(1) {
  animation: ease .7s top-2 forwards;
}

.navbar-toggler .active span:nth-child(2) {
  animation: ease .7s scaled forwards;
}

.navbar-toggler .not-active span:nth-child(2) {
  animation: ease .7s scaled-2 forwards;
}

.navbar-toggler .active span:nth-child(3) {
  animation: ease .7s bottom forwards;
}

.navbar-toggler .not-active span:nth-child(3) {
  animation: ease .7s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 15px;
    transform: rotate(0);
  }
  100% {
    top: 7px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }
  50% {
    top: 15px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 15px;
    transform: rotate(0);
  }
  100% {
    bottom: 10px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 15px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.busca{
	position: relative;
}

.busca button{
	position: absolute;
	top: 25%;
	left: 90%;
	background: transparent;
	border: none;
	color: #0092FF;
}

.busca input{
	border: none;
	background: trana;
	color: #0092FF;
	padding: 1.5rem;
	border: solid 2px #0092FF;
}

.header a{
	color: #000;
	text-decoration: none;
}

.header a i{
	color: #000;
}

.social{
	color: #ff6200;
}

header .btn-loja{
	color: #fff;
	background: #FF004C;
	padding: 10px 0px;
	border-radius: 10px;
	text-align: center;
	font-weight: 700;
}

header .btn-loja i{
	color: #fff;
}

.social p, .telefone p, .loja p{
	font-weight: 700;
}

.telefone a{
	font-weight: 500;
}

/* MENU */

nav{
	background: #0092FF;
}

.nav-link{
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
}

.nav-link:hover{
	color: #fff;
}

/* NEWSLETTER */

#newsletter{
	background: #f1f1f1;
	background-repeat: no-repeat;
	background-size: cover;
}

#newsletter h2{
	color: #0092FF;
	font-weight: 700;
	font-size: 25px;
	text-transform: uppercase;
}

.news{
	position: relative;
}

.cadastrar{
	position: absolute;
	top: 12%;
	background: transparent;
	border:  none;
	left: 70%;
	color: #0092FF;
}

.news input:not(.cadastrar){
	background: transparent;
	border: none;
	border-bottom: solid 2px #0092FF;
	border-radius: 0;
}

/* POST */

.date{
	position: absolute;
	top: 0;
	left: 5%;
	background: #ff6200;
	color: #fff;
	padding: 5px 10px;
	text-align: center;
}

.mes{
	text-transform: uppercase
}

.post-footer{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.category{
	position: relative;
	background: #fff;
	color: #ff6200;
	padding: 5px 30px;
	text-transform: uppercase;
	display: inline-block;
}

.category h4{
	font-size: 20px;
}

.post-title, .post-description{
	background: #0092FF;
	color: #fff;
	cursor: pointer;
}

.post-title h1{
	font-size: 20px;
}

.like{
	position: absolute;
	top: 10%;
	left: 87%;
	background: #fff;
	padding: 5px;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	box-shadow: 1px 1px 6px #00000038;
}

.like a{
	color: #000
}

.post{
	box-shadow: 1px 1px 6px #00000038;
	position: relative;
	max-height: 395px;
	height: 100%;
}

.post-description h1{
	font-size: 25px;
}

.btn-post{
	background: #0056BB;
	border: none;
	padding: 10px 30px;
	border-radius: 10px;
	color: #fff;
	display: flex;
	margin: 0 auto;
}

.post-description p{
	font-size: 15px;
}

.post-description{
	display: none;
}

.col-12 .btn-post{
	font-size: 25px;
	font-weight: 700;
}

#instagram h1{
	color: #0092FF;
	margin-bottom: 50px;
}

#instagram h1 strong{
	color: #ff6200;
}

.eapps-instagram-feed-title{
	display: none!important;
}

footer{
	background: #0092FF;
	color: #fff;
}

footer a{
	color: #fff;
}

.busca{
	width: 50%;
}

.news .form-control:focus{
	box-shadow: none;
	background: transparent;
}

header .form-control:focus{
	background: transparent;
	box-shadow: none;
	border-color: #0092FF;
}

button:focus{
	outline: none;
}

/* RESPONSIVE */

@media (max-width: 992px){
	.loja, .telefone, .social{
		display: none;
	}

	.busca{
		width: 75%;
	}

	.busca button{
		left: 80%;
		top: 25%;
	}

	.busca input{
		margin-top: 0;
	}

	.navbar-toggler{
		position: absolute;
		top: -75px;
		left: 84%;
		background: transparent;
	}
    
	.navbar-toggler span{
		background: #000;
		box-shadow: none;
	}

	.navbar img{
		display: none;
	}

	#instagram h1{
		font-size: 25px;
	}
}

@media (min-width: 992px){
	.post:hover .post-description{
		padding-top: 1rem;
		display: block;
	}
}

/* SINGLE */

.title{
	color: #777777;
	font-weight: 700;
	font-size: 25px;
}

.post-content h5{
	color: #000;
	font-weight: 600;
}

.post-content p{
	color: #777;
	font-weight: 600;
}

.post-content h2{
	color: #444444;
	font-weight: 700;
	font-size: 25px;
	margin: 2rem 0;
}

.categorias a{
	color: #777;
	font-weight: 600;
	margin-bottom: 5px;
}

.categorias a:hover{
	color: #777;
}

.search, .categorias, .new, .recente{
	background: #f9f9f9;
	position: relative;
}

.new button{
	position: absolute;
	top: 40%;
	left: 75%;
	background: transparent;
	border: none;
	color: #ff6200;
}

.search button{
	position: absolute;
	background: transparent;
	border: none;
	color: #ff6200;
	top: 53%;
	left: 75%;
}

.barra-lateral h3{
	font-size: 20px;
	font-weight: 700;
	color: #ff6200;
}

.search input, .new input{
	background: #eee;
	border: none
}

.search input:focus, .new input:focus{
	box-shadow: none;
	background: #eee;
}

.recente p{
	line-height: 1;
}

#leia-tambem h2{
	color: #000;
}

.cat-item{
	display: block;
	margin: 5px 0;
}

.screen-reader-response{
	display: none;
}